@import '../../styles/main.scss';

.mds-btn {
  font-family: 'OpenSans';
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 0.2rem 1.4rem;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  will-change: transform;
  transition: background-color 0.3s;
  background-color: #8675d3;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: #9d8bec;
  }

  &:active {
  }

  &__icon svg {
    height: 2.5rem;
    width: 2rem;
  }

  &__text {
  }

  &--small {
    font-size: 1.4rem;
    min-width: 5rem;
    height: 2.4rem;
  }

  &--medium {
    min-width: 8rem;
    height: 3rem;
  }

  &--large {
    min-width: 10rem;
    height: 4rem;
    padding: 0.7rem 1.4rem;
  }

  &--wide {
    min-width: 16rem;
    height: 3.5rem;
    padding: 0.5rem 1.4rem;
  }

  &--disabled {
    background-color: $color-grey-dark-2 !important;

    &:hover {
      cursor: auto;
      transform: translateY(0);
      box-shadow: none;
    }

    &:active {
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
