$color-black: #000000;
$color-white: #ffffff;
$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;
$color-grey-light-1: #e1e1e1;
$color-grey-light-2: #f7f7f7;

$color-success-1: #66bb6a;
$color-success-2: #388e3c;
$color-danger-1: #f44336;
$color-danger-2: #d32f2f;

$line-height-default: 1.5;
