$themes: (
  '': (
    background-color-primary: #202020,
    button-color-background-1: #90caf9,
    button-color-background-2: #42a5f5,
    button-color-text: rgba($color-black, 0.9),
    button-color-icon: rgba($color-black, 0.9),
    text-color-primary: #e1e1e1
  ),
  '.theme-light': (
    background-color-primary: #eaf7cf,
    button-color-background-1: #90caf9,
    button-color-background-2: #42a5f5,
    button-color-text: rgba($color-black, 0.9),
    button-color-icon: rgba($color-black, 0.9),
    text-color-primary: #202020
  ),
  '.theme-dark': (
    background-color-primary: #202020,
    button-color-background-1: #084b83,
    button-color-background-2: #2f6da0,
    button-color-text: rgba($color-grey-light-1, 0.9),
    button-color-icon: rgba($color-grey-light-1, 0.9),
    text-color-primary: #e1e1e1
  )
);
