@import '@styles/main';

.jds-divider {
  display: block;
  padding: 0;

  @include use-color-variants() using ($variant) {
    hr {
      @include themify() {
        background-color: themed-variant($variant, color-primary);

        @if $variant == default {
          background-color: themed(divider-color);
        }
      }
    }
  }

  hr {
    border: none;
    margin: 0;
  }

  &--horizontal {
    width: 100%;
    margin: 1rem 0;

    hr {
      width: 100%;
    }
  }

  &--vertical {
    height: 100%;
    margin: 0 1rem;

    hr {
      height: 100%;
    }
  }

  &--flex {
    flex-grow: 0;
    margin: 0;
  }

  &--no-margin {
    margin: 0;
  }
}
