@import '../../styles/main';

.jds-alert-container {
  width: 32rem;
  position: fixed;
  z-index: 10000;

  &--center {
    left: 50%;
    transform: translate(-50%);
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }
}
