@import '@styles/main';

@mixin alert-color-variant($variant) {
  &--#{$variant} {
    @include themify() {
      background-color: themed-variant($variant, color-primary);
      color: themed-variant($variant, text-color);

      @if $variant == default {
        background-color: themed(alert-color-background);
        color: themed(text-color-primary);
      }

      @if $variant == dark {
        svg {
          fill: $color-white !important;
        }
      }
    }
  }
}

.jds-alert {
  $module: '.jds-alert';

  width: 20rem;
  padding: 1rem 0.5rem 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  margin: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @each $variant in map-keys($variants) {
    @include alert-color-variant($variant);
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__action {
    margin: 0.4rem auto 0 0;
  }

  &__message {
    font-family: inherit;
    font-size: 0.938rem;
    font-weight: 500;
    padding-right: 1rem;

    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  &__close-btn {
    margin-left: auto;
  }

  &--left {
    animation: slide-in-left 0.4s;
  }

  &--right {
    animation: slide-in-right 0.4s;
  }

  &--right--hide {
    animation: slide-out-right 0.4s;
  }

  &--center#{&}--top {
    animation: slide-in-top 0.4s;
  }

  &--center#{&}--bottom {
    animation: slide-in-bottom 0.4s;
  }
}
