@import '@styles/main';

.jds-checkbox {
  $module: 'jds-checkbox';
  display: inline-block;
  border: 2px solid;
  border-radius: 2px;
  appearance: none;
  outline: 0;
  transition: background 100ms ease-out;

  @include use-color-variants() using ($variant) {
    @include themify() {
      border-color: themed(text-color-primary);

      ~ .#{$module}__label .#{$module}__mark svg {
        fill: themed(background-color-primary) !important;
      }

      &:checked {
        border-color: themed-variant($variant, color-primary);
        background-color: themed-variant($variant, color-primary);
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__hidden {
    visibility: hidden;
    border: none;

    ~ .#{$module}__label .#{$module}__mark {
      visibility: hidden;
    }
  }

  &__mark {
    position: absolute;
    opacity: 0;
  }

  &__label {
    cursor: pointer;
  }

  &:checked {
    ~ .#{$module}__label .#{$module}__mark {
      opacity: 1;
      transition: opacity 100ms ease-out;
    }
  }

  &--disabled {
    ~ .#{$module}__label {
      cursor: not-allowed;
    }
  }

  @include size(small) {
    width: 1rem;
    height: 1rem;

    ~ .#{$module}__label .#{$module}__mark {
      left: 0.25rem;
      top: 0.15rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  @include size(medium) {
    width: 1.2rem;
    height: 1.2rem;

    ~ .#{$module}__label .#{$module}__mark {
      left: 0.25rem;
      top: 0.2rem;

      svg {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  @include size(large) {
    width: 1.5rem;
    height: 1.5rem;

    ~ .#{$module}__label .#{$module}__mark {
      left: 0.25rem;
      top: 0.2rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
