@import '../../styles/main';

.jds-textfield {
  position: relative;
  margin: 1.8rem 0;

  &__input {
    font-family: inherit;
    border-radius: 4px;
    display: block;
    transition: all 0.2s;
    width: 25rem;
    font-size: 1rem;
    padding: 0.438rem 1rem;

    outline: none;
    background-color: inherit;

    @include themify() {
      color: themed(text-color-primary);

      &::-webkit-input-placeholder {
        color: rgba(themed(text-color-secondary), 0.5);
        font-weight: 500;
      }
    }

    @include use-color-variants() using($variant) {
      @include themify() {
        &--outlined {
          border: 1px solid rgba(themed-variant($variant, color-primary), 0.6);

          &:hover {
            border-color: themed(text-color-secondary);
          }

          &:focus {
            box-shadow: inset 0 0 0 1px themed-variant($variant, color-primary);
            border-color: themed-variant($variant, color-primary);
          }
        }

        &--filled {
          border: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid rgba(themed-variant($variant, color-primary), 0.6);
          background-color: rgba(themed-variant($variant, color-light), 0.1);

          &:hover {
            background-color: rgba(themed-variant($variant, color-light), 0.15);
            border-color: themed(text-color-secondary);
          }

          &:focus {
            box-shadow: inset 0 -2px 2px -2px themed-variant($variant, color-primary);
            border-color: themed-variant($variant, color-primary);
          }
        }

        &--subtle {
          border: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid rgba(themed-variant($variant, color-primary), 0.6);

          &:hover {
            border-color: themed(text-color-secondary);
          }

          &:focus {
            box-shadow: inset 0 -2px 2px -2px themed-variant($variant, color-primary);
            border-color: themed-variant($variant, color-primary);
          }
        }
      }
    }
  }

  &__label {
    font-weight: 500;
    display: block;
    transition: all 0.1s;
    position: absolute;
    top: 0.5rem;
    margin-left: 1rem;
    cursor: text;

    @include themify() {
      color: rgba(themed(text-color-primary), 0.8);
    }

    &--transformed {
      font-size: 0.875rem;
      letter-spacing: 0.031rem;
      margin-left: 0rem !important;
      cursor: default;

      @include themify() {
        color: themed(text-color-primary);
      }
    }

    &--transformed#{&}--position--top {
      left: 0;
      top: -1.4rem;
    }

    &--transformed#{&}--position--bottom {
      top: 2.5rem;
    }
  }

  &__element {
    position: absolute;
    top: 0.45rem;
    height: 2rem;
    width: 2rem;
    line-height: 1.5rem;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include themify() {
      color: rgba(themed(text-color-primary), 0.8);
    }

    &--before {
      left: 0.5rem;
    }

    &--after {
      right: 0.5rem;
    }
  }
}
