@import '../../../styles/main';

.jds-tab-button {
  border-radius: 0 !important;
  height: 2rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  transition: all 0.15s;

  @include themify() {
    color: rgba(themed(text-color-primary), 0.8);
  }

  &:hover {
    background-color: transparent !important;
  }

  &--active {
    @include themify() {
      color: themed(tab-button-color-active);
      box-shadow: inset 0 -1px 0 0 themed(tab-button-color-active);
    }
  }
}
