@import '../../styles/main';

.jds-tooltip {
  $tooltip-offset: 0.5rem;

  &__container {
    position: relative;
    display: inline-block;
  }

  &__content {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    z-index: 1000;
    padding: 0.375rem 0.5rem;
    min-width: 150px;
    position: absolute;

    border-radius: 4px;

    @include use-color-variants() using ($variant) {
      @include themify() {
        background-color: themed-variant($variant, color-primary);
        color: themed-variant($variant, text-color);

        @if $variant == default {
          background-color: $color-grey-dark-1;
          color: $color-grey-light-1;
        }
      }
    }

    &--size {
      &--default {
        width: fit-content;
      }

      &--short-text {
        width: 150px;
      }

      &--long-text {
        width: 300px;
      }
    }
  }
}
