@import '@styles/main';

$icon-btn-color-variants: 'default', 'warning', 'success', 'danger', 'focus',
  'accented';

@mixin icon-btn-color-variant($variant) {
  &--#{$variant} {
    svg {
      @include themify() {
        fill: themed-variant($variant, color-primary);
      }
    }

    &:hover {
      svg {
        @include themify() {
          fill: themed-variant($variant, color-dark);
        }
      }
    }
  }
}

.jds-icon-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transition: fill 0.2s;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  @each $variant in $icon-btn-color-variants {
    @include icon-btn-color-variant($variant);
  }

  &--small {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--medium {
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &--large {
    svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
