@import '@styles/main';

.jds-icon-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s;

  svg {
    transition: fill 0.2s;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &--default {
    svg {
      @include themify() {
        fill: themed(icon-button-color) !important;
      }
    }

    &:hover {
      svg {
        @include themify() {
          fill: themed(icon-button-color-hover) !important;
        }
      }
    }
  }

  &--success {
    svg {
      fill: $color-success-1 !important;
    }

    &:hover {
      svg {
        fill: $color-success-2 !important;
      }
    }
  }

  &--danger {
    path {
      fill: $color-danger-1 !important;
    }

    &:hover {
      svg {
        fill: $color-danger-2 !important;
      }
    }
  }

  &--small {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &--medium {
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &--large {
    svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
