.theme-dark .theme-light {
  padding: 0;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-big {
  margin-top: 6rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-padding-left-3rem {
  padding-left: 3rem;
}

.u-padding-right-3rem {
  padding-right: 3rem;
}

.u-margin-left-3rem {
  margin-left: 3rem;
}

.u-margin-right-3rem {
  margin-right: 3rem;
}

.u-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba($color-white, 0.25);
}

.u-ripple-themed {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;

  @include themify() {
    background-color: rgba(themed(text-color-primary), 0.25);
  }
}
