.theme-dark .theme-light {
  padding: 0;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-big {
  margin-top: 6rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba($color-white, 0.3);
}
